<section class="editors">
    {{#> editors/topnav}}
        <button class="btn btn-edit">Share Binder</button>
        <button class="btn btn-edit">Connect Wallet</button>
    {{/editors/topnav}}

    <section class="center-region">
        <div class="region-active">
            <div class="region-active-overlay"></div>
            
            <div class="region-form">
                <form id="main-form" class="form">

                    <div class="form-row">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" >
                        </div>
                    </div>

                </form>
            </div>
        
        </div>
    </section>
</section>

