<section id="sigin" class="center-form flex-center">
    <div class="overlay-dark bg-dark"></div>
    <button id="twitch-button" class="btn btn-xl border-twitch">Sign In With Twitch</button>
    <button id="discord-button" class="btn btn-xl border-discord">Sign In With Discord</button>
</section>